<article id="post-hello-world" class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">

        <header class="article-header">
            <h2 class="article-title" itemprop="name">{article-title}</h2>
        </header>

        <div class="article-meta">
            <a href="{article-link}" class="article-date">
                <time itemprop="datePublished">{article-date} by wxg.xingang@outlook.com </time>
            </a>
        </div>

        <div class="article-entry" itemprop="articleBody">
            {content}
        </div>

        <footer class="article-footer">
        </footer>

    </div>

    <nav id="article-nav">
        <a href="{last-article-link}" id="article-nav-newer" class="article-nav-link-wrap">
            <div class="article-nav-title"><span>&lt;</span>&nbsp; {last-article-title}
            </div>
        </a>
        <a href="{next-article-link}" id="article-nav-older" class="article-nav-link-wrap">
            <div class="article-nav-title">{next-article-title} &nbsp;<span>&gt;</span>
            </div>
        </a>


    </nav>


</article>
