<article id="{article-id}" class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">

        <header class="article-header">
            <h1 itemprop="name">
                <a class="article-title" href="{article-link}">{article-title}</a>
            </h1>
        </header>

        <div class="article-meta">
            <a href="{article-link}" class="article-date">
                <time itemprop="datePublished">{article-date}</time>
            </a>
        </div>

        <div class="article-entry" itemprop="articleBody">
            {content}
        </div>

    </div>

</article>