<article id="{article-id}" class="article article-type-post" itemscope itemprop="blogPost">
    <div class="article-inner">

        <header class="article-header">
            <h3>
		<a class="article-title" href="{article-link}" style="font-size:1.6em">{article-title}</a>
            </h3>
        </header>

        <!-- <div class="article-meta"> -->
        <!--     <a href="{article-link}" class="article-date"> -->
        <!--         <time itemprop="datePublished">{article-date}</time> -->
        <!--     </a> -->
        <!-- </div> -->

        <div class="article-entry" itemprop="articleBody">
            {content}
        </div>

    </div>

</article>
